.result , input {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }
  .card {
    width: 200px;
    margin: 20px;
  }
  .card-image{
    display: block;
    width: 200px;
    height: 150px;
  }
  .btn {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    cursor: pointer;
    margin: 15px 0px;
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 10px;
    text-transform: uppercase;
    color: rgb(10, 10, 10);
    background: hwb(153 2% 10%);
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
    transform: scale(1.05);
  }
